@import "../media.scss";
@import "../variables.scss";

.btn {
  display: inline-flex;
  align-items: center;

  padding: 0 40px;
  height: 46px;

  font-weight: 700;
  font-size: 14px;
  line-height: 46px;
  color: var(--c-text);

  //border: 2px solid #BE2B14;
  border: 0;
  border-radius: 30px;

  box-shadow: none;
  cursor: pointer;
  background: var(--c-primary);

  transition: all 0.3s cubic-bezier(0.6, 0.01, 0.34, 0.99);

  &:hover {
    color: var(--c-white);
    text-decoration: none;
    background: var(--c-purple);

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.49833 4.96897H8.79205C8.64578 4.96897 8.5272 5.08756 8.5272 5.23383V8.45394C8.5272 8.62486 8.3881 8.76393 8.21718 8.76393H2.04586C1.87498 8.76393 1.73598 8.62486 1.73598 8.45394V2.28273C1.73598 2.11178 1.87498 1.97267 2.04586 1.97267H5.43086C5.57713 1.97267 5.69571 1.85409 5.69571 1.70782V1.00155C5.69571 0.855278 5.57713 0.736694 5.43086 0.736694H2.04586C1.19346 0.736694 0.5 1.43026 0.5 2.28273V8.45398C0.5 9.30645 1.19349 9.99994 2.04586 9.99994H8.21714C9.06962 9.99994 9.76314 9.30642 9.76314 8.45398V5.23386C9.76318 5.08756 9.6446 4.96897 9.49833 4.96897Z' fill='white'/%3E%3Cpath d='M10.2351 -0.00012207H7.42576C7.27949 -0.00012207 7.16091 0.118461 7.16091 0.264731V0.971005C7.16091 1.11727 7.27949 1.23586 7.42576 1.23586H8.38997L4.76166 4.8641C4.65822 4.96753 4.65822 5.1352 4.76166 5.23867L5.26106 5.73811C5.31075 5.7878 5.37809 5.8157 5.44837 5.8157C5.51861 5.8157 5.58599 5.7878 5.63564 5.73811L9.26395 2.1098V3.07397C9.26395 3.22024 9.38253 3.33883 9.5288 3.33883H10.2351C10.3813 3.33883 10.4999 3.22024 10.4999 3.07397V0.264731C10.4999 0.118461 10.3813 -0.00012207 10.2351 -0.00012207Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }

  &--icon-arrow {
    height: 34px;
    padding: 0 16px;

    font-weight: 500;
    font-size: 14px;
    line-height: 34px;
    color: var(--c-black);

    background: var(--c-grey);

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      margin-left: 6px;
      transition: all 0.3s cubic-bezier(0.6, 0.01, 0.34, 0.99);
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.49833 4.96897H8.79205C8.64578 4.96897 8.5272 5.08756 8.5272 5.23383V8.45394C8.5272 8.62486 8.3881 8.76393 8.21718 8.76393H2.04586C1.87498 8.76393 1.73598 8.62486 1.73598 8.45394V2.28273C1.73598 2.11178 1.87498 1.97267 2.04586 1.97267H5.43086C5.57713 1.97267 5.69571 1.85409 5.69571 1.70782V1.00155C5.69571 0.855278 5.57713 0.736694 5.43086 0.736694H2.04586C1.19346 0.736694 0.5 1.43026 0.5 2.28273V8.45398C0.5 9.30645 1.19349 9.99994 2.04586 9.99994H8.21714C9.06962 9.99994 9.76314 9.30642 9.76314 8.45398V5.23386C9.76318 5.08756 9.6446 4.96897 9.49833 4.96897Z' fill='black'/%3E%3Cpath d='M10.2351 -0.00012207H7.42576C7.27949 -0.00012207 7.16091 0.118461 7.16091 0.264731V0.971005C7.16091 1.11727 7.27949 1.23586 7.42576 1.23586H8.38997L4.76166 4.8641C4.65822 4.96753 4.65822 5.1352 4.76166 5.23867L5.26106 5.73811C5.31075 5.7878 5.37809 5.8157 5.44837 5.8157C5.51861 5.8157 5.58599 5.7878 5.63564 5.73811L9.26395 2.1098V3.07397C9.26395 3.22024 9.38253 3.33883 9.5288 3.33883H10.2351C10.3813 3.33883 10.4999 3.22024 10.4999 3.07397V0.264731C10.4999 0.118461 10.3813 -0.00012207 10.2351 -0.00012207Z' fill='black'/%3E%3C/svg%3E%0A");
    }
  }

  @media (max-width: 479px) {
    width: 100%;
    justify-content: center;
  }
}
