@import "../variables";

.expert-item {
  $item: &;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  height: 100%;

  padding: 28px 20px;

  text-align: center;

  border-radius: 4px;
  background: var(--c-green);

  &__picture {
    background: none;
  }

  &__image {
    border-radius: 100%;
  }

  &__info {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__name {
    margin-bottom: 4px;

    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
  }

  &--black {
    color: var(--c-white);
    background: var(--c-black);

    #{$item}__picture {
      min-width: 291px;
    }

    #{$item}__name {
      margin-bottom: 6px;
    }

    #{$item}__info {
      max-width: 394px;
      padding: 0 18px;
    }

    @media (min-width: 1200px) {
      flex-direction: row;
      gap: 19px;
      padding: 28px 48px;
    }

    @media (max-width: 991px) {
      & {
        gap: 19px;
        padding: 33px 20px;
      }

      #{$item}__picture {
        min-width: 200px;
        max-width: 200px;
      }
    }
  }

  @media (max-width: 991px) {
    #{$item}__name {
      font-size: 18px;
      line-height: 1.33;
    }
    #{$item}__picture {
      max-width: 140px;
    }
    #{$item}__description {
      margin: 0 auto;
      max-width: 254px;
    }
  }
}
