@import "../media.scss";
@import "../variables.scss";

.footer {
  padding: 13px 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  background: var(--c-grey);

  @media (max-width: 991px) {
    font-size: 10px;
    line-height: 1.6;
  }

  a {
    color: #6A7383;

    @media (max-width: 767px) {
      color: #424551;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1280px;

    @media (max-width: 767px) {
      flex-wrap: wrap;
      gap: 26px 0;
    }
  }

  &__policy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px 18px;

    @media (max-width: 767px) {
      gap: 5px 18px;
    }
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px 18px;

    @media (max-width: 991px) {
      gap: 15px 17px;
    }

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  .copyright {
    margin-left: 31px;
    color: #10253E;

    @media (max-width: 991px) {
      margin-left: 20px;
    }

    @media (max-width: 767px) {
      margin-left: auto;
    }
  }
}
