@import "../variables";

.intro {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__title {
    margin-bottom: 8px;
  }
  &__subtitle {
    margin-bottom: 33px;

    font-size: 16px;
    line-height: 1.5;
  }
}
