@import "../variables";

.service-item {
  &__link {
    color: var(--c-black);

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  &__title {

  }

  &__picture {
    margin-bottom: 20px;
  }

  &__image {

  }
}
