</div>
<footer class="full-footer">
    <div class="container">
        <div class="block-wrap">
            <div class="block ">
                <ul class="main-menu">
                    <li>
                        <a href="/about/">О компании</a>
                        <ul>
                            <li><a href="/about/team/">Команда</a></li>
                            <li><a href="/about/clients-and-reviews/">Клиенты и отзывы</a></li>
                            <li><a href="/about/partners/">Партнеры</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/development/">Девелопмент</a>
                        <ul>
                            <li><a href="/development/rekontseptsiya-proekta/">Реконцепция проекта</a></li>
                            <li><a href="/development/odin-proekt/">Один проект</a></li>
                            <li><a href="/development/osvoenie-territorii/">Освоение территории</a></li>
                            <li><a href="/development/prices/">Цены</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/projects/">Проекты</a>
                        <a href="/property-management/">Управление<br>недвижимостью</a>
                        <ul>
                            <li><a href="/property-management/purchase-and-sale/">Сделки купли-продажи</a></li>
                            <li><a href="/property-management/project-management/">Управление проектом</a></li>
                            <li><a href="/property-management/operation-management/">Оперативное управление</a></li>
                            <li><a href="/property-management/objects-for-purchase/">Объекты к покупке</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/realty/">Типы недвижимости</a>
                        <ul>
                            <li><a href="/realty/oteli/">Отели, мини-гостиницы</a></li>
                            <li><a href="/realty/klastery-sanatorii-bazy-otdykha/">Туристские кластеры, санатории, базы
                                    отдыха</a></li>
                            <li><a href="/realty/kafe-restorany-bary/">Кафе, рестораны, барые</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/public-activity/">Общественная<br>деятельность</a>
                        <a href="/education-center/">Образовательный<br>центр</a>
                    </li>

                    <li>
                        <a href="#">Полезное</a>
                        <ul>
                            <li><a href="/usefull/glossary/">Словарь терминов</a></li>
                            <li><a href="/usefull/list/">Статьи</a></li>
                        </ul>
                        <a href="/press/">Пресс-центр</a><br>
                        <a href="/contacts/">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="block-wrap">
            <div class="block footer-left">
                <div class="copy">
                    <div class="footer-logo">
                        <img src="./images/svg/logo-xs-white.svg" alt="dewis">
                    </div>

                    <p>Все права защищены (с) 2010-2022 ООО «ДД» ИНН 7802688666</p>
                </div>
                <div class="copy-text-bottom desktop-copy-text">
                    Все материалы сайта, включая дизайн, являются объектами авторского права. <br>
                    Товарный знак dewis №&nbsp;734138, класс 35 "Управление бизнес-процессами и консалтинг."&nbsp;<br>
                    Без гиперссылки на&nbsp;сайт dewis.ltd запрещается копировать и&nbsp;распространять его материалы, в&nbsp;том
                    числе на&nbsp;других сайтах. Любое использование информации и&nbsp;объектов без предварительного
                    согласия правообладателя не&nbsp;допускается и&nbsp;преследуется по&nbsp;закону в&nbsp;соответствии
                    со&nbsp;статьей 1300&nbsp;ГК РФ.
                </div>
            </div>
            <div class="block ">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="text">
                            <p>
                                <a href="http://dewis.ltd/upload/dewis_presentation.pdf"
                                   style="text-decoration: underline !important;" target="_blank">Презентация dewis</a>
                            </p>
                            <p>
                                <a href="http://dewis.ltd/upload/dewis_hotels.pdf"
                                   style="text-decoration: underline !important;" target="_blank">Презентация по
                                    управлению отелями</a>
                            </p>
                            <p>
                                <a href="https://www.google.ru/maps/place/%D0%A0%D1%8B%D0%B1%D0%B8%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+%D1%83%D0%BB.,+5,+401,+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+192007/@59.9105104,30.3321321,17z/data=!3m1!4b1!4m5!3m4!1s0x4696304fd2d78185:0xd6064f6132c55896!8m2!3d59.9105104!4d30.3343208"
                                   target="_blank">г. Санкт-Петербург, ул. Рыбинская, д. 5, оф. 401</a>
                            </p>
                            <p>
                                <a href="mailto:info+3490040@dewis.ltd">info+3490040@dewis.ltd</a>
                            </p>
                            <p>
                                <a href="tel:88122093241">8(965)770-87-37</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</body>
</html>
