<!-- (c) Digital Element || http://www.d-element.ru/ -->
<html lang="ru" class="flexbox">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=61536017-f4a7-4aaf-a708-fa73ef88c02d&amp;lang=ru_RU"
            type="text/javascript"></script>
</head>
<body>
<div class="flow-container <%= flowContainerClass && flowContainerClass %>">
    <div class="content">

        <header class="final-header animated">
        <span class="final-block final-logo">
            <img src="./images/svg/logo-xs.svg" alt="Dewis">
        </span>

            <div class="final-block menu-block">
                <div class="inner-block">
                    <nav>
                        <ul>
                            <li>
                                <div class="dropdown menu-drop">
                                    <a class="dropdown-toggle no-touch-link" href="/about/"><span>О компании</span></a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="/about/"><span>О компании</span></a>
                                    <div class="dropdown-menu">
                                        <ul class="wrap">
                                            <li class="touch-link"><a href="/about/">О компании</a></li>
                                            <li><a href="/about/team/">Команда</a></li>
                                            <li><a href="/about/clients-and-reviews/">Клиенты и отзывы</a></li>
                                            <li><a href="/about/partners/">Партнеры</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown menu-drop">
                                    <a class="dropdown-toggle no-touch-link" href="/development/"><span>Девелопмент</span></a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="/development/"><span>Девелопмент</span></a>
                                    <div class="dropdown-menu">
                                        <ul class="wrap">
                                            <li class="touch-link"><a href="/development/">Девелопмент</a></li>
                                            <li><a href="/development/rekontseptsiya-proekta/">Реконцепция бизнеса</a></li>
                                            <li><a href="/development/odin-proekt/">Один проект</a></li>
                                            <li><a href="/development/osvoenie-territorii/">Освоение территории</a></li>
                                            <li><a href="/development/prices/">Цены</a></li>
                                            <li><a href=""></a></li>
                                            <li><a href=""></a></li>
                                            <li><a href=""></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown menu-drop">
                                    <a class="dropdown-toggle no-touch-link" href="/property-management/"><span>Управление недвижимостью</span></a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="/property-management/"><span>Управление недвижимостью</span></a>
                                    <div class="dropdown-menu">
                                        <ul class="wrap">
                                            <li class="touch-link"><a href="/property-management/">Управление недвижимостью</a></li>
                                            <li><a href="/property-management/purchase-and-sale/">Сделки купли-продажи</a></li>
                                            <li><a href="/property-management/project-management/">Управление проектом</a></li>
                                            <li><a href="/property-management/operation-management/">Оперативное управление</a></li>
                                            <li><a href="/property-management/objects-for-purchase/">Объекты к покупке</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="/consulting/">Консультации и стратсессии</a>
                            </li>
                        </ul>
                    </nav>
                    <a href="#" class="disabled block lang-btn header-btn">
                        Eng
                    </a>
                    <a href="/brif-form.html" class="block brif-btn header-btn">
                        Заполнить бриф
                    </a>
                </div>
                <div class="inner-block">
                    <nav>
                        <ul>
                            <li>
                                <a href="/projects/">Проекты</a>
                            </li>
                            <li>
                                <a href="/public-activity/">Общественная деятельность</a>
                            </li>
                            <li>
                                <a href="/education-center/">Образовательный центр</a>
                            </li>
                            <li>
                                <div class="dropdown menu-drop">
                                    <!--<a class="active dropdown-toggle no-touch-link" href=""><span></span></a>-->
                                    <a class="dropdown-toggle no-touch-link " href="/usefull/" style="pointer-events: none"><span>Полезное</span></a>
                                    <!--<a class="active dropdown-toggle" data-toggle="dropdown" href=""><span></span></a>-->
                                    <a class="dropdown-toggle " data-toggle="dropdown" href="/usefull/" style="pointer-events: none"><span>Полезное</span></a>
                                    <div class="dropdown-menu">
                                        <ul class="wrap">
                                            <li class="touch-link"><a href="/usefull/">Полезное</a></li>
                                            <li><a href="/usefull/glossary/">Словарь терминов</a></li>
                                            <li><a href="/usefull/list/">Статьи</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="/press/">Пресс-центр</a>
                            </li>
                            <li>
                                <a href="/contacts/">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <a href="#" class="disabled final-block lang-btn header-btn">
                Eng
            </a>
            <a href="/brif-form.html" class="final-block brif-btn header-btn">
                Заполнить бриф
            </a>

            <div class="button-menu-wrp final-block ">
                <a href="#" class="show-menu header-btn">
                    <span class="text">Меню</span>
                    <span class="icon"></span>
                </a>
            </div>
            <nav class="final-menu">
                <ul>
                    <li class="lang-btn-wrap">
                        <a href="#" class="disabled">
                            Eng
                        </a>
                    </li>
                    <li>
                        <div class="dropdown menu-drop">
                            <!--<a class="active dropdown-toggle no-touch-link" href=""><span></span></a>
                            <a class="active dropdown-toggle" data-toggle="dropdown" href=""><span></span></a>-->

                            <!--Скрываем ссылку на "Полезное"-->
                            <a class="dropdown-toggle no-touch-link" href="/about/"><span>О компании</span></a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/about/"><span>О компании</span></a>
                            <!--Скрываем ссылку на "Полезное"-->

                            <div class="dropdown-menu">
                                <ul class="wrap">

                                    <!--<li class="active touch-link"><a href=""></a></li>-->

                                    <!--Скрываем ссылку на "Полезное"-->
                                    <li class="touch-link"><a href="/about/">О компании</a></li>
                                    <!--Скрываем ссылку на "Полезное"-->

                                    <li><a href="/about/team/">Команда</a></li>
                                    <li><a href="/about/clients-and-reviews/">Клиенты и отзывы</a></li>
                                    <li><a href="/about/partners/">Партнеры</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown menu-drop">
                            <!--<a class="active dropdown-toggle no-touch-link" href=""><span></span></a>
                            <a class="active dropdown-toggle" data-toggle="dropdown" href=""><span></span></a>-->

                            <!--Скрываем ссылку на "Полезное"-->
                            <a class="dropdown-toggle no-touch-link" href="/development/"><span>Девелопмент</span></a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/development/"><span>Девелопмент</span></a>
                            <!--Скрываем ссылку на "Полезное"-->

                            <div class="dropdown-menu">
                                <ul class="wrap">

                                    <!--<li class="active touch-link"><a href=""></a></li>-->

                                    <!--Скрываем ссылку на "Полезное"-->
                                    <li class="touch-link"><a href="/development/">Девелопмент</a></li>
                                    <!--Скрываем ссылку на "Полезное"-->

                                    <li><a href="/development/rekontseptsiya-proekta/">Реконцепция бизнеса</a></li>
                                    <li><a href="/development/odin-proekt/">Один проект</a></li>
                                    <li><a href="/development/osvoenie-territorii/">Освоение территории</a></li>
                                    <li><a href="/development/prices/">Цены</a></li>
                                    <li><a href=""></a></li>
                                    <li><a href=""></a></li>
                                    <li><a href=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown menu-drop">
                            <!--<a class="active dropdown-toggle no-touch-link" href=""><span></span></a>
                            <a class="active dropdown-toggle" data-toggle="dropdown" href=""><span></span></a>-->

                            <!--Скрываем ссылку на "Полезное"-->
                            <a class="dropdown-toggle no-touch-link" href="/property-management/"><span>Управление недвижимостью</span></a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/property-management/"><span>Управление недвижимостью</span></a>
                            <!--Скрываем ссылку на "Полезное"-->

                            <div class="dropdown-menu">
                                <ul class="wrap">

                                    <!--<li class="active touch-link"><a href=""></a></li>-->

                                    <!--Скрываем ссылку на "Полезное"-->
                                    <li class="touch-link"><a href="/property-management/">Управление недвижимостью</a></li>
                                    <!--Скрываем ссылку на "Полезное"-->

                                    <li><a href="/property-management/purchase-and-sale/">Сделки купли-продажи</a></li>
                                    <li><a href="/property-management/project-management/">Управление проектом</a></li>
                                    <li><a href="/property-management/operation-management/">Оперативное управление</a></li>
                                    <li><a href="/property-management/objects-for-purchase/">Объекты к покупке</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/consulting/">Консультации и стратсессии</a>
                    </li>
                    <li>
                        <a href="/projects/">Проекты</a>
                    </li>
                    <li>
                        <a href="/public-activity/">Общественная деятельность</a>
                    </li>
                    <li>
                        <a href="/education-center/">Образовательный центр</a>
                    </li>
                    <li>
                        <div class="dropdown menu-drop">
                            <!--<a class="active dropdown-toggle no-touch-link" href=""><span></span></a>
                            <a class="active dropdown-toggle" data-toggle="dropdown" href=""><span></span></a>-->

                            <!--Скрываем ссылку на "Полезное"-->
                            <a class="dropdown-toggle no-touch-link" href="/usefull/"><span>Полезное</span></a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/usefull/"><span>Полезное</span></a>
                            <!--Скрываем ссылку на "Полезное"-->

                            <div class="dropdown-menu">
                                <ul class="wrap">

                                    <!--<li class="active touch-link"><a href=""></a></li>-->

                                    <!--Скрываем ссылку на "Полезное"-->
                                    <!--Скрываем ссылку на "Полезное"-->

                                    <li><a href="/usefull/glossary/">Словарь терминов</a></li>
                                    <li><a href="/usefull/list/">Статьи</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/press/">Пресс-центр</a>
                    </li>
                    <li>
                        <a href="/contacts/">Контакты</a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="menu-shadow"></a>
        </header>

