@import "./variables";

.section {
  $section: &;

  padding: 70px 0;
  clear: both;

  .row {
    gap: 32px 0;

    @media (max-width: 767px) {
      gap: 0;
    }
  }

  &:first-of-type {
    /*padding-bottom: 70px;*/
  }

  &:last-of-type {
    //padding-bottom: 0;
  }

  @media (max-width: 1199px) {
    padding: 40px 0;
  }

  &-bg {
    margin: 62px 0 66px;

    #{$section}__inner {
      padding: 60px 0;
    }

    @media (max-width: 991px) {
      margin: 38px 0;
      padding: 0;
    }

    @media (max-width: 767px) {
      margin: 40px 0 43px;
    }

    &--grey {
      margin: 70px 0;
      color: var(--c-black);
      background: #F7F5FF;

      @media (max-width: 991px) {
        .section__inner {
          padding: 35px 0;
        }
      }

      @media (max-width: 767px) {
        margin-top: 20px;

        .section__inner {
          padding: 33px 0;
        }
      }
    }

    &--black {
      color: var(--c-grey);
      background: var(--c-black);
    }

    &--primary {
      background: var(--c-primary);
    }
  }

  &__inner {
    max-width: 1280px;
    margin: 0 auto;
  }

  &--intro {
    padding-top: 0;
    padding-bottom: 21px;

    background: var(--c-grey);

    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      min-height: 512px;
      background: #F7F5FF;
      z-index: -1;
    }

    &.with-bg {
      color: var(--c-white);

      .intro__title,
      .phone__link,
      .nav-item__link {
        color: var(--c-white);
      }

      .header {
        margin-bottom: 114px;
      }
    }

    @media (max-width: 991px) {
      padding: 40px 0 45px;

      &:after {
        min-height: 455px;
      }
    }

    @media (max-width: 767px) {
      padding: 0 0 40px;

      &:after {
        min-height: 504px;
      }
    }
  }

  &--services {
    .section__body {
      .row {
        gap: 40px 0;

        @media (max-width: 991px) {
          gap: 58px 0;
        }

        @media (max-width: 767px) {
          gap: 29px 0;
        }
      }
    }

    @media (max-width: 991px) {
      h4 {
        margin-top: 18px;
        margin-bottom: 4px;
      }

      .block-card:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &--what {
    /*#{$section}__inner {
      padding: 60px 0;
    }*/
  }

  &--develop {
    ul, ol {
      padding-left: 23px;

      li {
        &::marker {
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
        }

        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
  }

  &--promo {
    padding: 67px 0 70px;
    color: var(--c-white);

    @media (max-width: 991px) {
      padding: 42px 0;

      .section__inner {
        background: var(--c-black);
      }

      .block__title {
        font-size: 32px;
        line-height: 1.25;
      }

      .block__subtitle {
        font-size: 16px;
        line-height: 1.5;
      }
    }

    @media (max-width: 767px) {
      padding: 40px 0;

      .container {
        position: relative;
        z-index: 1;
      }

      .section__inner {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
        }

        &::after {
          background-image: url('./images/content/promo-shape-mobile.svg');
        }
      }

      .block__title {
        font-size: 26px;
        line-height: 1.23;
      }

      .block__subtitle {
        font-size: 14px;
        line-height: 1.36;
      }
    }
  }

  &--results {
    @media (max-width: 767px) {
      .block-card__image {
        max-height: initial;
      }
    }
  }

  &--about {
    @media (min-width: 992px) {
      padding: 60px 0 54px;

      .container {
        max-width: 1176px;
      }
    }

    .row {
      justify-content: space-between;

      @media (max-width: 991px) {
        align-items: center;
      }
    }

    .button {
      margin-top: 21px;
    }

    @media (max-width: 991px) {
      h2 {
        margin-bottom: 30px;
      }
      .button {
        margin-top: 15px;
      }
    }

    @media (max-width: 767px) {
      h2 {
        display: none;
      }

      .row {
        flex-direction: column-reverse;
      }
    }
  }

  &--experts {
    .row {
      gap: 40px 0;

      @media (max-width: 767px) {
        gap: 18px 0;
      }
    }

    @media (max-width: 1199px) and (min-width: 768px) {
      & {
        width: 100%;
      }

      &,
      .row {
        float: left;
      }

      [class*="col-"] {
        &:not(:nth-last-child(2)):not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &--image {
    text-align: center;
  }

  &--form {
    padding: 100px 0 74px;

    color: var(--c-white);

    background-repeat: no-repeat;
    background-position: center top;
    background-color: var(--c-black);
    background-size: cover;
    background-image: url("../images/content/form-shape.svg");

    #{$section}__inner {
      max-width: 1440px;
    }

    .form-wrapper {

    }

    .block {
      margin-bottom: 40px;
      text-align: center;
    }

    @media (max-width: 991px) {
      padding: 48px 0 55px;

      .block {
        &:not(:last-child) {
          margin-bottom: 54px;
        }

        &__title {
          font-size: 26px;
          line-height: 32px;
        }

        &__subtitle {
          font-size: 14px;
          line-height: 19px;
        }
      }

      .button {
        max-width: 286px;
        width: 100%;
        justify-content: center;
      }
    }

    @media (max-width: 767px) {
      padding: 48px 0 92px;
      background-position: top left;
      background-image: url("../images/content/form-shape-mobile.svg");

      .block {
        &:not(:last-child) {
          margin-bottom: 27px;
        }
      }
    }
  }
}

